<div class="add-form">
  <h2>Add New Contact</h2>
  <form (ngSubmit)="addContact()">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" [(ngModel)]="fName" name="fName" class="form-control" required />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="lName" name="lName" class="form-control" required />
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <input type="text" [(ngModel)]="number" name="number" class="form-control" required />
    </div>
    <button class="btn btn-primary mt-2" type="submit">Add Contact</button>
  </form>
</div>
