<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Contact Manager</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add">Add Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

<div class="contacts-list">
    <app-contacts
        *ngFor="let contact of contacts"
        [contact]= "contact"
        (edit)= "editContact($event)"
        (delete)= "deleteContact($event)" ></app-contacts>
</div>

<div *ngIf= "editingContact">
    <h2>Edit Contact</h2>
    <input type="text" [(ngModel)]= "editingContact.fName" placeholder="fName" />
    <input type="text" [(ngModel)]="editingContact.lName" placeholder="lName" />
    <input type="text" [(ngModel)]="editingContact.number" placeholder="Number" />
    <button (click)="updateContact()">Update</button>
    <button (click)="cancelEdit()">Cancel</button>
</div>



